In [12]:
import pandas as pd
import numpy as np
from selenium import webdriver
from bs4 import BeautifulSoup
from tqdm import tqdm_notebook
from urllib.request import urlopen

import time
import re

In [7]:
driver = webdriver.Chrome('../driver/chromedriver.exe')

In [8]:
url = 'https://www.mangoplate.com/search/%EA%B0%95%EB%82%A8%EA%B5%AC'
driver.get(url)

* url은 망고플레이트에서 '강남구'를 검색했을 때의 url이다.

In [9]:
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

In [29]:
len(soup.select('h2.title'))

20

In [30]:
len(soup.select('strong.point.search_point'))

40

* 포인트 값이 40개이지만 0-19번째만이 제대로 된 점수 값이고 20-39번째는 이후 다른 코드에 쓰인걸로 보인다.
    * page source를 봄으로써 확인하였음.

In [35]:
title = soup.select('h2.title')
point = soup.select('strong.point.search_point')

In [40]:
Title = []
Point = []

for i in range(len(title)) :
    tmp_t = title[i].text.strip()
    tmp_p = point[i].text.strip()
    
    Title.append(tmp_t)
    Point.append(tmp_p)

In [41]:
df1_t = pd.DataFrame(Title)
df1_p = pd.DataFrame(Point)

In [44]:
df1 = df1_t.rename(columns = {0: 'Name'})

In [45]:
df1['Point'] = df1_p

In [46]:
df1

                                                 Name Point
0                                               스시카나에   4.8
1                                                쿠이신보   4.8
2    노란상소갈비\n                                    (본점)   4.8
3                                                시라카와   4.8
4                                                 꼬에모   4.8
5                                              소이연남마오   4.8
6                                                파씨오네   4.7
7                                                 이치에   4.7
8                                               로바타탄요   4.7
9                                                콴안다오   4.7
10                                                 가담   4.7
11                                              알라프리마   4.7
12                                                미라이   4.7
13                                                 길목   4.7
14                                               SOOT   4.7
15  롸카두들내쉬빌핫치킨\n                                  ...   4.7
16                                                 톡톡   4.6
17                                             진미평양냉면   4.6
18  갓포아키\n                                    (도산공원점)   4.6
19                                                스시키   4.6